<h1>Let's create an account</h1>
<form action="createaccount/saveaccount" method="post">
  First name:<br>
  <input type="text" name="firstName"><br>
  Last name:<br>
  <input type="text" name="lastName"><br>
  Password:<br>
  <input type="password" name="password"><br><br><br>
  <input type="submit" value="Create Account"><br>
</form>
