<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="logging" method="post">
  First name:<br>
  <input type="text" name="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname"><br>
  Password:<br>
  <input type="password" name="password"><br><br><br>
  <input type="submit" value="Submit"><br>
  <input type="hidden" name="attempt" value="{{attempt}}"> Attempt: {{attempt}} </span>
</form>
