<h1>Welcome to Logging !</h1>
<h2> Hello {{firstName}} </h2>
<p> Below are the attempts that tried to log in your account </p>
<form action="/" method="GET">
  <input type="submit" value="Log Out"></input>
</form>
